<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpeSKIaLkV0CC9bx5L_LOmF4pP5YV3sKY</string>
	<key>GCM_SENDER_ID</key>
	<string>142808937203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocTest</string>
	<key>PROJECT_ID</key>
	<string>fir-bloc-75738</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bloc-75738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142808937203:ios:3b97c8e81ed18f4100fd86</string>
</dict>
</plist>